@import "../../Constant.scss";

.todo-list, .important-todos {
	width: 100%;

  li {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 50%;
		background-color: $dark-gray;
		border-radius: $borderRadius;
		padding: $padding calc(#{$padding * 2});
		font-size: $sub-font-size;

		&:not(:last-child){
			margin-bottom: $padding;
		}

		&.empty-list {
			width: 90%;
			height: auto;
			font-size: $sub-title-font-size;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 2;
			padding: calc(#{$padding} * 5);
		}

		&.todo{
			a{
				display: block;
				width: 70%;
				text-decoration: none;
				div.todo-box{
					display: flex;
					p:first-child{
						margin-right: $padding;
					}
				}
			}

			button{
				border-radius: $borderRadius;
				font-size: $menu-font-size;
				color: black;
				padding: calc(#{$padding} - 10px) $padding;
				border: 1px solid $black;
				background-color: $light-gray;
				transition: 0.5s ease;
				height: 50px;

				&:hover{
					cursor: pointer;
					background-color: $dark-gray;
					color: #fff;
				}
			}

			.star {
				svg{
					display: flex;
					align-items: center;
					font-size: calc(#{$menu-font-size} + 5px);
					path{
						color: $black;
					}
				}

				&.showStarLine {
					display: inline-block;
				}
				&.hideStarLine {
					display: none;
				}
			}
		}
  }
}
