$black: #353839;
$light-purple: #e6e6fa;
$purple: #cfcfe1;
$light-pink: #ffe4e1;
$pink: #f5d5d1;
$light-gray: #f1f2f2;
$gray: #e6e7e8;
$dark-gray: #999;

$font-size: 1.125rem;
$small-font-size: 1rem;
$menu-font-size: 1.5rem;
$sub-font-size: 2rem;
$sub-title-font-size: 3.5rem;
$title-font-size: 6.25rem;

$header-height: 100px;

$padding: 20px;
$borderRadius: 14px;
$inputHeight: 30px;