$black: #353839;
$light-purple: #e6e6fa;
$purple: #cfcfe1;
$light-pink: #ffe4e1;
$pink: #f5d5d1;
$light-gray: #f1f2f2;
$gray: #e6e7e8;

$font-size: 18px;
$small-font-size: 16px;
$menu-font-size: 24px;
$sub-font-size: 32px;
$title-font-size: 100px;

$header-height:100px;

$padding: 20px;